body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: 100px 0 0 450px;
}

h1 {
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}


button {
    margin-top: 10px;
    margin-right: 5px;
}
.tab {
    display: flex
}
table {
    width: 90%;
    margin: 20px 0 20px 70px;
    font-size: 16px;
    text-align: left;
}

table thead {
    background-color: #607ea4;
    color: #fff;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
