body {
    padding: 0;
    margin: 0;
    min-width: 300px;
}
div {
    margin: 10px;
    background-color :blanchedalmond;
    border: 5px black solid;
    width: 60%;
}

.info {
    max-width: 96%;
    width: 96%;
    box-sizing: border-box; /*mani kansaghro katkhali had div matkhroj mn container */
}

h1 {
    color: rgb(86, 82, 76);
    text-decoration: underline;
    border: 5px solid black;
    padding: 5px 10px;
    margin: 10px;
}

img {
    margin-left: 10px;
    border: 4px solid black;
}

hr {
    border: solid black 1px;
    margin: 10px 20px;
}

p {
    margin: 5px 8px;
    color: rgb(21, 100, 53);
    text-align: center;
    font-weight:bold ;
}

#ptanya {
    color: black;
}

ul li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: rgb(11, 181, 11);
}

a {
    text-decoration: none;
    color: rgba(2, 12, 60, 0.694);
}

strong {
    color: black;
}