/*==== Selectors ====*/
 
h1 {
    color: blue;
}
 
#section1 {
    background-color: red;
}
 
h3.section-title {
    background-color: blue;
}
 
footer, ul, .highlight {
    background-color: gray;
}
 
div.main > p {
    background-color: bisque;
}
 
input:focus {
    background-color: red;
}
 
input::placeholder {
    color: aqua;
}
 
#div2:hover {
    background-color: blue;
}
 
 
/*==== Font ====*/
 
footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    line-height: 30px;
    color: blue;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}
 
/*==== border ====*/
 
#section2 {
    border-color: green;
    border-top-style: solid;
    border-bottom-style: dotted;
    border-width: 10px;
    border: 5px solid red;
}
 
/*==== outline ====*/
 
#section1 {
    outline: 10px solid red;
}
 
/*==== Modele de boite ====*/
 
#section2 {
    border-color: green;
    border-style: solid;
    border-width: 10px;
    border: 5px solid red;
    padding: 30px;
    margin: 50px;
    background-color: blue;
}
 
/*==== Lists ====*/
 
ul li {
    list-style-type: square;
    list-style-image: url("");
}
 
ol li {
    list-style-type: upper-alpha;
}
 
/*==== Tables ====*/
 
table {
    border-collapse: separate;
    border-spacing: 15px 0;
    caption-side: bottom;
    empty-cells: hide;
}
 
/*==== Affichage ====*/
 
footer p {
    display: inline;
}
 
span {
    display: block;
    /* display: none; */
}
 
/*==== FlexBox ====*/
 
div.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-color: green;
    justify-content: space-between;
}
 
div.main div {
    background-color: red;
    margin: 2px;
    width: 300px;
    height: 200px;
}